{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>single-blog</title>
        <!-- font---------------------------------------->
        <link rel="stylesheet" href="{% static 'assets4/css/vendor/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets4/css/vendor/materialdesignicons.css' %}">
        <!-- plugin-------------------------------------->
        <link rel="stylesheet" href="{% static 'assets4/css/vendor/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets4/css/vendor/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets4/css/vendor/noUISlider.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets4/css/vendor/nice-select.css' %}">
        <!-- main-style---------------------------------->
        <link rel="stylesheet" href="{% static 'assets4/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets4/css/responsive.css' %}">
    </head>

<body>
    <!-- header-------------------------------->
 {% include 'header.html' %}
    <!-- header-------------------------------->

    <!-- 404------------------------------------>
    <div class="container-main">
        <div class="col-12">
            <div id="content">
                <div class="d-404">
                    <div class="d-404-title">
                        <h1 class="text-danger">خرید بالای 50 میلیون تومان امکان پذیر نمی باشد.!</h1>
                    </div>
                    <div class="d-404-actions">
                        <a href="{% url 'cart' %}" class="d-404-action-primary">بازگشت به سبد خرید</a>
                    </div>
                    <div class="d-404-image">
                        <img src="{% static 'assets4/images/404.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404----------------------------------->

    <!-- footer-------------------------------->
    <footer class="footer-main-site">
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="footer-shopping-features">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/delivery-truck.svg' %}" width="50"
                                    alt="تحویل اکسپرس" class="img-shopping">
                            </span>
                            <span class="title-shopping">تحویل اکسپرس</span>
                            <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/24-hours-support.svg' %}" width="50"
                                    alt="پشتیبانی ۲۴ ساعته" class="img-shopping">
                            </span>
                            <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                            <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/income.svg' %}" width="50" alt="پرداخت در محل"
                                    class="img-shopping">
                            </span>
                            <span class="title-shopping">پرداخت در محل</span>
                            <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/easy-return.svg' %}" width="50"
                                    alt="۷ روز ضمانت بازگشت" class="img-shopping">
                            </span>
                            <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                            <span class="desc-shopping">هفت روز مهلت دارید </span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/original.svg' %}" width="50"
                                    alt="ضمانت اصل‌بودن کالا" class="img-shopping">
                            </span>
                            <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                            <span class="desc-shopping">تایید اصالت کالا</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="footer-middlebar">
                        <div class="col-lg-8 d-block pr">
                            <div class="footer-links">
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با تجارت ایرانیان 
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       درباره ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       سبد خرید
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ثبت نام در سامانه
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با تجارت ایرانیان 
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       درباره ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       سبد خرید
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ثبت نام در سامانه
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    شرکت بازرگانی تجارت ایرانیان
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شرکت بازرگانی تجارت ایرانیان وارد کننده پیشرفته ترین تجهیزات لاغری و موضعی شکم و پهلو تناسب اندام
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-block pl">
                            <div class="shortcode-widget-area">
                                <form action="#" class="form-newsletter">
                                    <fieldset>
                                        <span class="form-newsletter-title"> با عضویت در خبرنامه از آخرین اخبار و
                                            محصولات سایت مطلع شوید...</span>
                                        <div class="input-group-newsletter">
                                            <input type="email" class="input-field form-control"
                                                placeholder="آدرس ایمیل خود را وارد کنید">
                                            <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="footer-more-info">
                            
                            
                            <div class="footer-copyright">
                                <div class="footer-copyright-text">
                                    <p>تمامی مطالب، عکس ها و... متعلق به سایت تجارت ایرانیان می باشد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </footer>
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->


</body>
<script src="{% static 'assets4/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.countdown.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.jqZoom.js' %}"></script>
<script src="{% static  'assets4/Add_to_cart.js' %}"></script>
<script src="{% static 'assets4/active-address.js' %}"></script>
<script src="{% static 'assets4/delete_wishlist.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="css/BYekan.ttf">

</html>