<!DOCTYPE html>
{% load static %}
{% load humanizelib %}
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/materialdesignicons.css' %}">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/noUISlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/nice-select.css' %}">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static 'assets4/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/responsive.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
</head>

<body>
    <!-- header-------------------------------->
    <header class="header-main">
        <div class="container-main">
            <div class="d-block">
                <section class="h-main-row">
                    <div class="col-lg-9 col-md-12 col-xs-12 pr">
                        <div class="header-right">
                            <div class="col-lg-3 pr">
                                <div class="header-logo row text-right">
                                    <a href="#">
                                        <img src="{% static 'assets4/images/logo.png' %}" alt="دیجی اسمارت">
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </section>
               
            </div>
        </div>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="header-search text-right">
                        <div class="header-search-box">
                            <form action="#" class="form-search">
                                <input type="search" class="header-search-input" name="search-input"
                                    placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                <div class="action-btns">
                                    <button class="btn btn-search" type="submit">
                                        <img src="{% static 'assets4/images/search.png' %}" alt="search">
                                    </button>
                                    <div class="search-filter">
                                        <div class="form-ui">
                                            <div class="custom-select-ui">
                                                <select class="right">
                                                    <option>همه دسته ها</option>
                                                    <option>کالای دیجیتال</option>
                                                    <option>آرایشی بهداشتی</option>
                                                    <option>ابزاری اداری</option>
                                                    <option>مد پوشاک</option>
                                                    <option>خانه آشپز خانه</option>
                                                    <option>لوازم تحریر و هنر</option>
                                                    <option>کودک و نوزاد</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="search-result">
                                <ul class="search-result-list mb-0">
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            کالای دیجیتال
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            آرایشی و بهداشتی
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            گوشی موبایل
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            تبلت
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            لپ تاپ
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            دوربین
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                                <div class="localSearchSimple"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>
    <!-- header-------------------------------->

    <!-- cart---------------------------------->
    
    <div class="container-main" id="book-table">
        <div class="d-block">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                        </ol>
                    </nav>
                </div>
                {% if shopcart %}
                {% include 'cart_list_2.html' %}
                {% else %}
                <div class="container-main">
                    <div class="d-block">
                        <div class="main-row">
                            <section class="cart-home">
                                <div class="post-item-cart d-block order-2">
                                    <div class="content-page">
                                        <div class="cart-form">
                                            <div class="cart-empty text-center d-block">
                                                <div class="cart-empty-img mb-4 mt-4">
                                                    <img style ="width:400px;height:400px" src="{% static 'assets4/images/cart-empty.gif' %}">
                                                </div>
                                                <p class="cart-empty-title">سبد خرید شما در حال حاضر خالی است.</p>
                                                <a href="#" class="btn account-btn btn-primary">ورود به حساب کاربری</a>
                                                <div class="return-to-shop">
                                                    <a href="#" class="backward btn btn-secondary">بازگشت به صفحه اصلی</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="modal fade" id="modal-book">
                    <div class="modal-dialog">
                      <div class="modal-content"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
 
   
    <!-- cart---------------------------------->

    <!-- footer-------------------------------->
    <footer class="footer-main-site">
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="footer-shopping-features">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/delivery-truck.svg' %}" width="50"
                                    alt="تحویل اکسپرس" class="img-shopping">
                            </span>
                            <span class="title-shopping">تحویل اکسپرس</span>
                            <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/24-hours-support.svg' %}" width="50"
                                    alt="پشتیبانی ۲۴ ساعته" class="img-shopping">
                            </span>
                            <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                            <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/income.svg' %}" width="50" alt="پرداخت در محل"
                                    class="img-shopping">
                            </span>
                            <span class="title-shopping">پرداخت در محل</span>
                            <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/easy-return.svg' %}" width="50"
                                    alt="۷ روز ضمانت بازگشت" class="img-shopping">
                            </span>
                            <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                            <span class="desc-shopping">هفت روز مهلت دارید </span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/original.svg' %}" width="50"
                                    alt="ضمانت اصل‌بودن کالا" class="img-shopping">
                            </span>
                            <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                            <span class="desc-shopping">تایید اصالت کالا</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="footer-middlebar">
                        <div class="col-lg-8 d-block pr">
                            <div class="footer-links">
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با تجارت ایرانیان 
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       درباره ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       سبد خرید
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ثبت نام در سامانه
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با تجارت ایرانیان 
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       درباره ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       سبد خرید
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ثبت نام در سامانه
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    شرکت بازرگانی تجارت ایرانیان
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شرکت بازرگانی تجارت ایرانیان وارد کننده پیشرفته ترین تجهیزات لاغری و موضعی شکم و پهلو تناسب اندام
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-block pl">
                            <div class="shortcode-widget-area">
                                <form action="#" class="form-newsletter">
                                    <fieldset>
                                        <span class="form-newsletter-title"> با عضویت در خبرنامه از آخرین اخبار و
                                            محصولات سایت مطلع شوید...</span>
                                        <div class="input-group-newsletter">
                                            <input type="email" class="input-field form-control"
                                                placeholder="آدرس ایمیل خود را وارد کنید">
                                            <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="footer-more-info">
                            
                            
                            <div class="footer-copyright">
                                <div class="footer-copyright-text">
                                    <p>تمامی مطالب، عکس ها و... متعلق به سایت تجارت ایرانیان می باشد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </footer>
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->
    <!-- Page Loader---------------------------->
    <div class="P-loader">
        <div class="P-loader-content">
            <div class="logo-loader">
                <img src="{% static 'assets4/images/logo.png' %}" alt="logo">
            </div>
            <div class="pic-loader text-center">
                <img src="{% static 'assets4/images/three-dots.svg' %}" width="50" alt="">
            </div>
        </div>
    </div>
    <!-- Page Loader------------------------------>
</body>
<!-- file js---------------------------------------------------->

<script src="{% static 'assets4/js/vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/bootstrap.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
  alertify.set('notifier','position', 'top-center');
  alertify.error('{{message}}');
</script>>
{% else %}
<script>
  alertify.set('notifier','position', 'top-center');
  alertify.success('{{message}}');
</script>>
{% endif %}
{% endfor %}
<!-- plugin---------------------------------------------------->
<script src="{% static 'assets4/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.countdown.js' %}"></script>
<script src="{% static 'assets4/js/vendor/ResizeSensor.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/wNumb.js' %}"></script>
<script src="{% static 'assets4/js/vendor/nouislider.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets4/plugin.js' %}"></script>
<!-- main js---------------------------------------------------->
<script src="{% static 'assets4/js/main.js' %}"></script>

</html>