<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آرشیو محصولات</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/materialdesignicons.css' %}">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/noUISlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/vendor/nice-select.css' %}">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static 'assets4/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/responsive.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
    

</head>

<body>
    <!-- header-------------------------------->
   {% include 'header.html' %}
    <!-- header-------------------------------->

    <!-- contact-us---------------------------->
    <div class="container-main">
        <div class="col-12">
            <div id="content">
                <div class="contact-us">
                    <div class="col-lg-9 col-md-9 col-xs-12 mx-auto">
                        <div class="contact-us-section">
                            <div class="box-header">
                                <span class="box-title">تماس با تجارت ایرانیان</span>
                            </div>
                            <div class="contact-us-row">
                                <p>برای پیگیری یا سوال درباره سفارش و ارسال پیام بهتر است از فرم زیر استفاده کنید.</p>
                            </div>
                            <form id="tamasbama" method ="POST" action="{% url 'tamas' %}" class="contact-us-form">
                                {% csrf_token %}
                                <div class="contact-us-row contact-us-row--align-top">
                                    <label for="#" class="form-field-container">
                                        <div class="form-field-label">موضوع*</div>
                                        <div class="form-field-frame">
                                            <input name="subject" type="text" placeholder="" class="form-field js-input-field form-control">
                                        </div>
                                    </label>
                                    <label for="#" class="form-field-container">
                                        <div class="form-field-label">نام و نام خانوادگی*</div>
                                        <div class="form-field-frame">
                                            <input name="name" type="text" placeholder="" class="form-field js-input-field form-control">
                                        </div>
                                    </label>
                                </div>
                                <div class="contact-us-row contact-us-row--align-width">
                                    <label for="#" class="form-field-container">
                                        <div class="form-field-label">ایمیل*</div>
                                        <div class="form-field-frame">
                                            <input name="email" type="email" placeholder="" class="form-field js-input-field form-control">
                                        </div>
                                    </label>
                                    <label for="#" class="form-field-container">
                                        <div class="form-field-label">تلفن تماس*</div>
                                        <div class="form-field-frame">
                                            <input name="phone" type="number" placeholder="" class="form-field js-input-field form-control">
                                        </div>
                                    </label>
                                </div>
                                <div class="contact-us-row contact-us-row--align-bottom">
                                    <label for="#" class="form-field-container w-100">
                                        <div class="form-field-label">متن پیام*</div>
                                        <div class="form-field-frame">
                                            <textarea name="text_message" type="text" placeholder="" class="form-field js-input-field form-control"></textarea>
                                        </div>
                                    </label>
                                </div>
                                <div class="contact-us-row contact-us-row-align-left text-left d-block pl-3">
                                    <button type="submit"  class="btn btn-info js-contact-form-submit">
                                        ثبت و ارسال
                                    </button>
                                </div>
                            </form>
                            <div class="box-header">
                                <span class="box-title">اطلاعات کالامارکت</span>
                            </div>
                            <div class="contact-us-row">
                                <div class="contact-us-address-container">
                                    <div class="contact-us-address-header">
                                        دفتر مرکزی
                                    </div>
                                    <div class="contact-us-address-text">
                                        استان تهران - شهر تهران - خیابان گاندی جنوبی - نبش خیابان ۲۱ - پلاک ۲۸
                                    </div>
                                    <div class="contact-us-address-header">
                                        تماس با گارانتی
                                    </div>
                                    <div class="contact-us-address-text">
                                        برای پیگیری کالاهایی که با کارت گارانتی کالامارکت به فروش می رسند با شماره ۶۱۹۳۰۰۱۰−۰۲۱ تماس بگیرید
                                    </div>
                                    <div class="contact-us-address-header">
                                        ایمیل سازمانی
                                    </div>
                                    <div class="contact-us-address-text">
                                        info@tejarat-iranian.com
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-us---------------------------->

    <!-- footer-------------------------------->
    <footer class="footer-main-site">
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="footer-shopping-features">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/delivery-truck.svg' %}" width="50"
                                    alt="تحویل اکسپرس" class="img-shopping">
                            </span>
                            <span class="title-shopping">تحویل اکسپرس</span>
                            <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/24-hours-support.svg' %}" width="50"
                                    alt="پشتیبانی ۲۴ ساعته" class="img-shopping">
                            </span>
                            <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                            <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/income.svg' %}" width="50" alt="پرداخت در محل"
                                    class="img-shopping">
                            </span>
                            <span class="title-shopping">پرداخت در محل</span>
                            <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/easy-return.svg' %}" width="50"
                                    alt="۷ روز ضمانت بازگشت" class="img-shopping">
                            </span>
                            <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                            <span class="desc-shopping">هفت روز مهلت دارید </span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="{% static 'assets4/images/footer/features/original.svg' %}" width="50"
                                    alt="ضمانت اصل‌بودن کالا" class="img-shopping">
                            </span>
                            <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                            <span class="desc-shopping">تایید اصالت کالا</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="footer-middlebar">
                        <div class="col-lg-8 d-block pr">
                            <div class="footer-links">
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با تجارت ایرانیان 
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       درباره ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       سبد خرید
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ثبت نام در سامانه
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با تجارت ایرانیان 
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       درباره ما
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                       سبد خرید
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ثبت نام در سامانه
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    شرکت بازرگانی تجارت ایرانیان
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شرکت بازرگانی تجارت ایرانیان وارد کننده پیشرفته ترین تجهیزات لاغری و موضعی شکم و پهلو تناسب اندام
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-block pl">
                            <div class="shortcode-widget-area">
                                <form action="#" class="form-newsletter">
                                    <fieldset>
                                        <span class="form-newsletter-title"> با عضویت در خبرنامه از آخرین اخبار و
                                            محصولات سایت مطلع شوید...</span>
                                        <div class="input-group-newsletter">
                                            <input type="email" class="input-field form-control"
                                                placeholder="آدرس ایمیل خود را وارد کنید">
                                            <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="footer-more-info">
                            
                            
                            <div class="footer-copyright">
                                <div class="footer-copyright-text">
                                    <p>تمامی مطالب، عکس ها و... متعلق به سایت تجارت ایرانیان می باشد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </footer>
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress-------------------------->

</body>
<script src="{% static 'assets4/js/vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/bootstrap.js' %}"></script>
<!-- plugin------------------------------------------------------>
<script src="{% static 'assets4/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.countdown.js' %}"></script>
<script src="{% static 'assets4/js/vendor/ResizeSensor.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/wNumb.js' %}"></script>
<script src="{% static 'assets4/js/vendor/nouislider.min.js' %}"></script>
<script src="{% static 'assets4/js/vendor/jquery.nice-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets4/product-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'assets4/custom.js' %}"></script>
<!-- main js' %}---------------------------------------------------->
<script src="{% static 'assets4/js/main.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% for message in messages %}
<script>
    alertify.set('notifier','position', 'top-center');
    alertify.success('{{message}}');
  </script>>
{% endfor %}
</html>